<main class="container wrap-cards row">

    <button class="btn dropdown-toggle waves-effect text-dark waves-light" 
    role="button"
    (click)="changeStyle()">
        row / <span _ngcontent-c1="" class="btn-label-big">colum</span>
    </button>
    <div class="container">
        <section class="magazine-section my-5">

            <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
            <!-- <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

            <div class="row">
                    <span *ngIf="grid">
                <app-postpreview class="col-xs-12 col-sm-12 col-md-12 mb-4" *ngFor="let post of posts " [object]='post'
                    (click)=goTo(post); [grid]='grid'>
                </app-postpreview>
            </span>
                <span *ngIf="!grid">
                <app-postpreview class="col-xs-12 col-sm-6 col-md-4 mb-4" *ngFor="let post of posts " [object]='post'
                (click)=goTo(post); [grid]='grid'>
            </app-postpreview>
        </span>
            </div>
        </section>
    </div>

</main>