<div class="container-stretch">
  <app-filters [page]="'projects'" (selectFilter)="filterFor($event)"></app-filters>

  <main class="row container-dual">
    <!-- LIST -->
    <app-list-preview
      class="col-xs-12 col-sm-4 container-select block-center-xs"
      [objects]="projects" [type]="'project'"
      [filterValue]="filterValue"
      (focusedItem)="focusItem($event)">
    </app-list-preview>

    <!-- PREVIEW -->
    <app-preview class="col-xs-8 container-preview hidden-xs" [focusedItem]="focusedItem" [type]="'project'"></app-preview>
  </main>
</div>
